@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: #464646;
    /* color: #F6F5F4; */
    color: var(--bs-light);
}

a {
    color: var(--bs-light);
    text-decoration: none;
    transition: color .5s;
}

a:hover {
    color: #00ffff;
    /* text-decoration: underline; */
    ;
}

.folder {
    background-color: #f1d592;
    /* can also try #FEF1DC */
    color: var(--bs-dark);
}

a.folderNav {
    font-size: 1.5em;
    color: var(--bs-dark);
}

a.folderNav:hover {
    font-weight: bold;
}

#fade-me-in.htmx-added {
    opacity: 0;
}

#fade-me-in {
    opacity: 1;
    transition: opacity .5s ease-out;
}

/* Accordion styling */
.accordion {
    background-color: #575757;
    color: var(--bs-light);
    /* cursor: pointer; */
    padding: .75em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.15em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #686868;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    color: var(--bs-light);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0 1em;
    display: none;
    background-color: #464646;
    overflow: hidden;
}