@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: #464646;
    color: #F6F5F4;
}

a {
    color: #F6F5F4;
    text-decoration: none;
    transition: color .5s;
}

a:hover {
    color: #00ffff;
    /* text-decoration: underline; */
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity .5s ease-out;
}

#fade-me-in.htmx-added {
    opacity: 0;
}

#fade-me-in {
    opacity: 1;
    transition: opacity 3s ease-out;
}